# Python
__pycache__/
*.py[cod]
*.egg-info/

# Logs and reports
logs/
reports/
*.log

# Windows + IDEs
Thumbs.db
.DS_Store
*.swp
*.bak
*.tmp

# Virtual environments
venv/
env/

# Editor folders
.vscode/
.idea/
